<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tvApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <tvApp.Properties.Settings>
            <setting name="TV1IP" serializeAs="String">
                <value>192.168.1.6</value>
            </setting>
            <setting name="TV2IP" serializeAs="String">
                <value>192.168.1.7</value>
            </setting>
            <setting name="TV1MAC" serializeAs="String">
                <value>FC:F1:52:A0:F0:56</value>
            </setting>
            <setting name="TV2MAC" serializeAs="String">
                <value />
            </setting>
            <setting name="PROJIP" serializeAs="String">
                <value>192.168.1.5</value>
            </setting>
            <setting name="LIFTCOM" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="LIFTMOVETIME" serializeAs="String">
                <value>15000</value>
            </setting>
        </tvApp.Properties.Settings>
    </applicationSettings>
</configuration>