<?xml version="1.0" encoding="utf-8" ?>
<Automation>
  <Televisions>
    <!-- Televisions Must have the following Attributes Assigned Name|IP|MAC -->
    <Television Name="Library TV" IP="192.168.1.6" MAC="FC:F1:52:A0:F0:56" />
    <Television Name="Office TV" IP="192.168.1.7" MAC="FC:F1:52:D3:51:D8" />
  </Televisions>
  <Projectors>
    <!-- Projectors Must have the following Attributes Assigned Name|IP|LiftAssociation(Can be None)-->
    <Projector Name="Auditorium Projector" IP="192.168.1.5" LiftAssociation="Auditorium Lift" />
  </Projectors>
  <ProjectorLifts>
    <!-- Projector Lifts must have the following Attributes Assigned Name|COMPort|MoveTime-->
    <ProjectorLift Name="Auditorium Lift" COMPort="COM1" MoveTime="15000" />
  </ProjectorLifts>
</Automation>